
$default-color : #555555;
$primary-color_light : #2076B6;
$alternate-color :#F2F5F8;
$border-color:#DDDDDD;

$normal-font : 16px;
$normal-sm-font: 14px;

$error-color : #dc3545;

$Semibold : 600;
$bold: 700;

@import '../bower_components/flexboxgrid-sass/flexboxgrid.scss';

/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 768px;


/* Global style */
body {
    font-family: "proxima-nova",sans-serif;
    color:$default-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  
  h1 {
    font-weight: $Semibold;
    font-size: 36px;
    margin: 0 0 34px 0;
  }
  
  h3 {
    font-weight: $Semibold;
    font-size: 24px;
    margin-bottom: 17px;
    line-height: 30px;
  }
  
  h5 {
    text-transform: uppercase;
    font-weight: $Semibold;
    font-size: $normal-font;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: $bold;
  }
  
  p {
    font-size: $normal-font;
    line-height: 24px;
  }
  
  abbr {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
    display: block;
    line-height: 25px;
  }
  
  .bottom-mar-sm {
    margin-top: 15px;
    display: block;
  }
  
  img {
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: $primary-color_light;
  }
  
  .button {
    background: $primary-color_light;
    font-size: $normal-sm-font;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 40px;
    color: #fff;
  }
  
  .noPadding-left {
    padding-left: 0 !important;
  }

  /* .Global style */
  
  /* Header Style */
  .header {
    border-bottom: 1px solid $border-color;
  }
  
  .logo-container {
    padding: 7px 0;
  }
  
  .nav-menu {
    margin-left: 20px;
    ul li {
      display: inline-block;
      padding: 15px 4px;
      a {
        font-size: $normal-font;
        color: #555555;
        padding: 0px 15px;
      }
    }
  }
  
  .language-block{
      padding: 15px 0;

      a{
          margin-right:20px; 
          color: $default-color;
      }

      img{
          width: 30px;
          margin-right: 5px;
          vertical-align: middle;
      }

      .select-country{
          position: relative;
          padding-right: 15px;

          &:after{
              position: absolute;
              right:0;
              content: '';
              width: 6px;
              height: 6px;
              border-style: solid;
                border-color:$default-color;
                border-width: 0px 1px 1px 0px;
                transform: rotate(45deg);
                top:5px;

          }
      }
  }


  /* .Header Style */

  /* Contact main Section */

  .contact-section {
    background: #fff;
    float: left;
    padding: 65px 140px 43px 20px;
  }
  
  .main-section {
    background: linear-gradient(90deg, #fff 50%, $alternate-color 50%);
  }
  
  .contact-detail_intro {
    margin-bottom: 25px;
  }
  
  .contact-block {
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 55px;
    p {
      margin-bottom: 4px;
    }
  }
  
  .contact-block_icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: $primary-color_light;
    font-size: 25px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-left: -55px;
    margin-right: 13px;
    &.email {
      background: #3FCF8E;
    }
    &.location {
      background: #B76AC4;
    }
    i {
      font-size: 22px;
      line-height: 35px;
    }
    + h3 {
      display: inline-block;
    }
  }
  
  .contact-block_footer {
    margin: 10px 0 20px 55px;
  }
  
  .contact-block.second {
    margin-bottom: 8px;
  }
  /* .Contact main Section */
  
  /* Contact form sidebar */
  .contact-form {
    background: $alternate-color;
    padding-top: 65px;
    padding-left: 30px;
  }
  
  .contact-form_widget {
    margin-top: 30px;
  }
  
  .contact-form_widget_element {
    margin-bottom: 20px;
  }

  .contact-form_widget_element{
      input.error,
      textarea.error{
          border: 1px solid $error-color;
      }
  }
  
  .contact-form_widget {
    label {
      font-size: 15px;
      color: #555555;
      display: block;
      margin-bottom: 10px;
    }
    input, textarea {
      background: #fff;
      font-size: $normal-font;
      border-radius: 3px;
      border: 1px solid $border-color;
      padding: 15px;
      width: 280px;
    }

    button{
        width: 90%;
    }
    #success-message{
        color: #28a745;
        padding: 10px 15px;
        display: none;
        width: 90%;
        text-align: center;
        &.show{
            display: block;
        }
    }
  }
  
  .input-control {
    font-size: $normal-sm-font;
    border-radius: 5px;
    border: 1px solid $border-color;
    padding: 10px 15px;
    color: $border-color;
    width: 200px;
    margin-left: 12px;
    margin-right: 5px;

    &.error{
        border: 1px solid $error-color;
    }
  }
  
  .contact-form_widget input::placeholder,
  .contact-form_widget textarea::placeholder {
    font-style: italic;
  }
  
/* Contact form sidebar */

  .social {
    background: $alternate-color;
    border-top: 1px solid $border-color;
    padding: 15px 0;
  }
  
  .social-title {
    font-weight: $Semibold;
    font-size: 20px;
    h4 {
      line-height: 46px;
    }
  }
  
  .social-icon {
    font-size: 24px;
    border-radius: 25px;
    background-color: #1d76ba;
    color: white;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  
  .footer {
    background: #1d76ba;
    color: #fff;
    padding: 15px 0 30px 0;
    line-height: 25px;
    ul {
      margin: 0;
      padding: 15px 0 0 0;
      display: table-cell;
      &:first-child {
        padding-right: 80px;
      }
    }
    abbr {
      padding-left: 25px;
      color: #fff;
      a {
        color: #fff;
      }
      p {
        line-height: 23px;
        margin-bottom: 6px;
        font-size: $normal-sm-font;
      }
      i {
        float: left;
        text-indent: -25px;
      }
    }
    li {
      list-style-type: none;
      list-style-position: inside;
      a {
        color: #fff;
      }
    }
    .contact h5 {
      margin-bottom: 25px;
    }
  }
  
  .advertise {
    padding: 10px 0 0 0;
  }
  
  .button-hollow {
    background: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: $normal-sm-font;
  }
  
  .footer-credit {
    background-color: white;
    padding: 10px 0;
    p {
      font-size: $normal-sm-font;
      line-height: 35px;
    }
    .footer-credit-logos .logo {
      width: 50px;
      padding-left: 5px;
    }
  }
  
  .footer-credit-logos {
    text-align: right;
  }

.hidden-md{
    display: none
}
.hidden-sm{
    display: block
}
  
@media (max-width: $breakpoint-tablet) {


    .hidden-md{
        display: block
    }
    .hidden-sm{
        display: none;
    }


    .logo-container {
        width: 25%;
        margin: 0 auto;
    }
    
    .nav-menu{
        margin: 0;
    }

    .nav-menu ul li:first-child{
        border-top: 1px solid $border-color;
    }

    .nav-menu ul li{
        width: 100%;
        border-bottom: 1px solid $border-color;
    }

    .contact-section{
        padding-right: 0;
        padding-top: 20px;
    }

    .contact-form{
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .contact-form_widget input, .contact-form_widget textarea{
        width: 90%;
    }

    .social-icons{
        text-align: center;
        padding-top: 10px;
    }
    .newsletter{
        padding: 0 15px;
    }
    .input-control{
        width: 70%;
        margin: 0;
    }

    .newsletter{
        .button{
            width: 20%;
            padding: 10px 0;
        }
    }

    

    .footer{
        padding: 15px 40px 30px 40px;
        ul{
            padding: 0;
        }
        .contact h5{
            margin-bottom: 15px;
        }
    }
    .footer-credit-logos,.footer-credit{
        text-align: center;
    }
}